*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/* game screen */
.container {
  margin: auto;
  width: 439px;
  height: 186px;
  background-image: url(../img/sfondo3.jpg);
}

/* statistiche e sprite */
.statsprite {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.stat {
  width: 150px;
  height: 45px;
  background-color: #ffffcc;
  border: 3px solid gray;
  border-style: ridge;
  display: flex;
  flex-direction: column;
}

/* nome salute livello */
.nsl {
  display: flex;
  justify-content: space-around;
  margin-top: 1px;
}

.sesso {
  font-size: 11px;
}

.ps {
  display: flex;
  justify-content: center;
}

/* scritta PS */
.iconaps {
  color: yellow;
  height: 15px;
  width: 15px;
  font-size: 12px;
  border: 1px solid black;
  background-color: black;
  text-align: center;
}

/* barra dei PS */
.barraps {
  height: 15px;
  width: 110px;
  border: 1px solid black;
  background-color: rgb(23, 182, 34);
}

/* statistiche e sprite */
.statspriteblastoise{
  padding-top: 16px;
}

.statblastoise {
margin-top: 10px;
}

/* blastoiseshell */
#blastoiseshell {
  position: fixed;
  top: 140px;
  left: 510px;
  display: none;
}

/* menù interattivo */
/* cronaca lotta */
.cronaca {
  color: white;
  margin: auto;
  width: 439px;
  height: 77px;
  background-color: #000033;
  display: flex;
  justify-content: space-between;
}

/* opzioni di gioco */
.opzioni {
  color: black;
  height: 100%;
  width: 220px;
  background-color: #ffffcc;
  border: 2px solid gray;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.opzioni a, #opzionilotta a {
  text-decoration: none;
  color: black;
}

#fighta, #pkmna {
  padding: 4px 20px;
}

#baga, #runa {
  padding: 4px 29px;
}

.menu1:hover, .mossa:hover{
  border: red 2px solid;
  border-style: inset;
  cursor: pointer;
}

.fightpkmn, .bagrun {
  display: flex;
}

.bagrun {
  margin-top: 5px;
}

.fight, .pkmn, .bag, .run {
  width: 50%;
  font-size: 22px;
  text-align: center;
}

/* elementi a comparsa */
/* mosse */

.containermosse {
  display: none;
}

#opzionilotta {
  position: fixed;
  top: 186px;
  left: 463px;
  height: 77px;
  width: 439px;
  background-color: #ffffcc;
  border: 2px solid gray;
  border-style: ridge;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.mosse {
  width: 75%;
  height: 100%;
  border: 2px solid gray;
  border-style: ridge;
  display: flex;
  font-size: 22px;
  justify-content: center;
}

.mossesinistra, .mossedestra {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2px;
  margin-top: 2px;
}


.mossa1, .mossa2, .mossa3, .mossa4{
  height: 100%;
}

/* info mosse e back */
.infomosse {
  width: 25%;
  height: 100%;
  border: 2px solid gray;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infomosse>div {
  height: 33%;
  border: 1px solid black;
}
